 /* ========================================
        commom css starts
========================================== */
a{
    text-decoration: none;
}
 h3{
  font-family: "Vollkorn", serif;
  font-size: 50px; 
  font-weight: 500;
  color: black;
}
/* ---------------button--------------------- */
 .common-btn{
    background: #E5745D;
    border: 2px solid rgb(231, 224, 224);
    color: white;
    padding: 21px 39px;
    transition: .4s;
    border: 2px solid transparent;
}
 .common-btn:hover{
    background: transparent;
    border: 2px solid  #E5745D;
    color: #E5745D;
 }



  /* --------- Cad part----------------- */


/* .row{
      display: flex;
      justify-content: space-evenly;
} */

 .card-body{
  padding-top: 26px ;
  padding-left: 0px;
 
  
}
 .card img{
  width: 20%;
}
 .card-title{
   font-family: "Vollkorn", serif;
  font-size: 24px; 
  font-weight: 800;
  color: black;
}
 .card-text{
 font-family: "Jost", sans-serif;
   font-size: 16px; 
  font-weight: 400;
  color: rgba(0, 0, 0,.7);
  width: 245px;
  height: 72px;
}

/* -------------arrow------------------ */
.fa-arrow-right-long{
  position: absolute;
     bottom: 36px;
    left: 44px;
  transform: translate(-50% , -50%);
  transition: .4s;
}
.fa-arrow-right-long:hover{
  color: #E5745D;
  left: 55px;
 
}

/* ----------small arrow part + writting---------------------- */

 .first-div{

    display: flex;
    justify-content: center; 
    align-items: center; 

}
 .first-div img{
  
  width: auto;
  height: 12%;
}
 .first-div p{
  margin: 0; 
  padding-left: 9px;
  font-family: "Vollkorn", serif;
  font-size: 18px; 
  font-weight: 500;
  color: #E5745D;
}
 /* ========================================
        commom css ends
========================================== */
 /* ========================================
        navbar css starts
========================================== */

nav .nav-item{
    padding: 0px 20px;
}
.nav-link:hover{
    color: #E5745D;
}

 /* ========================================
        navbar css ends
========================================== */
 /* ========================================
        banner css starts
========================================== */

 .banner .col-lg-6{
    background: #00413D;
    height: 850px;
 }

.banner .col-lg-4 img{
width: 100%;
height:  850px;
} 
.banner{
    position: relative;
    overflow: hidden;
}


.banner .overlay {
  position: absolute;
  top: 375px;
  left: 321px;
  transform: translateY(-50%);
  z-index: 10; /* Ensures text stays on top of the image */
  width: 834px;
  height: 220px;
}
/* we needed to make change in h1 instead of overlay 
because overlay is a div, and we want to change h1 not the div */
.banner .overlay h1{
  font-family: "Vollkorn", serif;
  font-size: 100px; 
  font-weight: 700;
  color: white;

}
.banner .overlay p{
  font-family: "Jost", sans-serif;
  font-size: 20px; 
  font-weight: 400;
  color: rgba(255, 255, 255,.5);
margin-bottom: 50px;
}
.banner .overlay p span{
  font-family: "Jost", sans-serif;
  font-size: 20px; 
  font-weight: 400;
  color: rgb(255, 255, 255);

}
 /* ========================================
        banner css ends
========================================== */
 /* ========================================
        services css starts
========================================== */
.services{
  position: relative;
}
.services .first-div{
    margin-top: 220px;
    margin-bottom: 11px;
}
.services h1{
  font-family: "Vollkorn", serif;
  font-size: 50px; 
  font-weight: 500;
  color: black;
   text-align: center;
   margin-bottom: 40px;
}
.services  .card{
  padding-top: 50px ;
  padding-left: 35px;
  padding-bottom: 50px;
  margin-bottom: 120px;
}


 /* ========================================
        services css ends
========================================== */
 /* ========================================
        About me css starts
========================================== */
.about-me {
  margin-bottom: 120px;
}
.about-me .col-lg-8 {
  width: 370px;
  height: 480px;
    margin-bottom: 80px;

}
.about-me .col-lg-8 img{
  width: 100%;
  height: 100%;
}
.about-me .col-lg-4 {
   width: 225px;
    height: 480px;

    display: flex;
    flex-direction: column;
    gap: 30px;
    /* to make a gap between pic 2,3  */
 
}
.about-me .col-lg-4 img{
 width: 100%;
 height: 50%;
    flex: 1;
    /* so the flex apear */
}



.about-me .first-div{
    justify-content: start; 
}




.about-me p{
  width: 570px;
  margin-bottom: 50px;
   font-family: "Jost", sans-serif;
   font-size: 16px; 
  font-weight: 400;
  color: rgba(0, 0, 0,.7);
}

.about-me .skills {
  width: 1320px;
}
.about-me .skills img{
  width: 100%;
}

 /* ========================================
        About me css ends
========================================== */
 /* ========================================
        project css starts
========================================== */
.project{
  margin-bottom: 120px;
}
.project .first-div{
    justify-content: start; 
}
.project .heading{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-bottom: 40px;
}
.project .heading .fa-arrow-right {
  background: #E5745D;
  border: 2px solid  #E5745D;
  color: rgb(237, 243, 243);
  padding: 5px 5px;
}
.project .heading .fa-arrow-left {
  background: transparent;
   border: 2px solid  rgba(0, 0, 0,.5);
  color: black;
  padding: 5px 5px;
}
.project  .card{
  padding: 0px 0px;
}
 .project .card-img-top{
  width: 370px;
  height: 270px;
 }

.project  .card img{
   width: 100%;
}
.project  h6{
  font-family: "Vollkorn", serif;
  font-size: 14px; 
  font-weight: 500;
  color: #E5745D;
 
}
.project  .card-body{
  margin-left: 20px;
}
.project  .card-title{
  font-family: "Vollkorn", serif;
  font-size: 22px; 
  font-weight: 500;
  color:black;
}
.project  p{
  font-family: "Jost", sans-serif;
  font-size: 14px; 
  font-weight: 400;
  color:rgba(0, 0, 0,.7);
}
/* .project  .project-last{
  display: flex;
} */

.project .project-arrow {
  align-items: center;

}
.project .fa-arrow-right-long{

     bottom: 10px;
    left: 155px;

}
.project .fa-arrow-right-long:hover{
  left: 165px;
}
.project .card a{
  font-family: "Jost", sans-serif;
  font-size: 16px; 
  font-weight: 400;
  color:rgba(0, 0, 0,.7);
}
.project .row{
  margin-bottom: 60px;
}

 .project .button-container {
  display: flex;
  justify-content: center; /* Centers the button horizontally */
  align-items: center;     /* Optional: Centers vertically if container has height */
}

 /* ========================================
        project css ends
========================================== */

