 /* ========================================
        commom css starts
========================================== */
a{
    text-decoration: none;
}
 h3{
  font-family: "Vollkorn", serif;
  font-size: 50px; 
  font-weight: 500;
  color: black;
}
/* ---------------button--------------------- */
 .common-btn{
    background: #E5745D;
    border: 2px solid rgb(231, 224, 224);
    color: white;
    padding: 21px 39px;
    transition: .4s;
    border: 2px solid transparent;
}
 .common-btn:hover{
    background: transparent;
    border: 2px solid  #E5745D;
    color: #E5745D;
 }



  /* --------- Cad part----------------- */


/* .row{
      display: flex;
      justify-content: space-evenly;
} */

 .card-body{
  padding-top: 26px ;
  padding-left: 0px;
 
  
}
 .card img{
  width: 20%;
}
 .card-title{
   font-family: "Vollkorn", serif;
  font-size: 24px; 
  font-weight: 800;
  color: black;
}
 .card-text{
 font-family: "Jost", sans-serif;
   font-size: 16px; 
  font-weight: 400;
  color: rgba(0, 0, 0,.7);
  width: 245px;
  height: 72px;
}

/* -------------arrow------------------ */
.fa-arrow-right-long{
  position: absolute;
     bottom: 36px;
    left: 44px;
  transform: translate(-50% , -50%);
  transition: .4s;
}
.fa-arrow-right-long:hover{
  color: #E5745D;
  left: 55px;
 
}

/* ----------small arrow part + writting---------------------- */

 .first-div{

    display: flex;
    justify-content: center; 
    align-items: center; 

}
 .first-div img{
  
  width: auto;
  height: 12%;
}
 .first-div p{
  margin: 0; 
  padding-left: 9px;
  font-family: "Vollkorn", serif;
  font-size: 18px; 
  font-weight: 500;
  color: #E5745D;
}
 /* ========================================
        commom css ends
========================================== */
 /* ========================================
        navbar css starts
========================================== */

nav .nav-item{
    padding: 0px 20px;
}
.nav-link:hover{
    color: #E5745D;
}

 /* ========================================
        navbar css ends
========================================== */
 /* ========================================
        banner css starts
========================================== */

 .banner {
    background: #00413D;
    height: 850px;
 }

.banner .col-lg-4 img{
width: 100%;
height:  850px;
} 
.banner{
    position: relative;
    overflow: hidden;
}


.banner .overlay {
  position: absolute;
  top: 375px;
  left: 321px;
  transform: translateY(-50%);
  z-index: 10; /* Ensures text stays on top of the image */
  width: 834px;
  height: 220px;
}
/* we needed to make change in h1 instead of overlay 
because overlay is a div, and we want to change h1 not the div */
.banner .overlay h1{
  font-family: "Vollkorn", serif;
  font-size: 100px; 
  font-weight: 700;
  color: white;

}
.banner .overlay p{
  font-family: "Jost", sans-serif;
  font-size: 20px; 
  font-weight: 400;
  color: rgba(255, 255, 255,.5);
margin-bottom: 50px;
}
.banner .overlay p span{
  font-family: "Jost", sans-serif;
  font-size: 20px; 
  font-weight: 400;
  color: rgb(255, 255, 255);

}
 /* ========================================
        banner css ends
========================================== */
 /* ========================================
        services css starts
========================================== */
.services{
  position: relative;
}
.services .first-div{
    margin-top: 220px;
    margin-bottom: 11px;
}
.services h1{
  font-family: "Vollkorn", serif;
  font-size: 50px; 
  font-weight: 500;
  color: black;
   text-align: center;
   margin-bottom: 40px;
}
.services  .card{
  padding-top: 50px ;
  padding-left: 35px;
  padding-bottom: 50px;
  margin-bottom: 120px;
}


 /* ========================================
        services css ends
========================================== */
 /* ========================================
        About me css starts
========================================== */
.about-me {
  margin-bottom: 120px;
}
.about-me .col-lg-8 {
  width: 370px;
  height: 480px;
    margin-bottom: 80px;

}
.about-me .col-lg-8 img{
  width: 100%;
  height: 100%;
}
.about-me .col-lg-4 {
   width: 225px;
    height: 480px;

    display: flex;
    flex-direction: column;
    gap: 30px;
    /* to make a gap between pic 2,3  */
 
}
.about-me .col-lg-4 img{
 width: 100%;
 height: 50%;
    flex: 1;
    /* so the flex apear */
}



.about-me .first-div{
    justify-content: start; 
}




.about-me p{
  width: 570px;
  margin-bottom: 50px;
   font-family: "Jost", sans-serif;
   font-size: 16px; 
  font-weight: 400;
  color: rgba(0, 0, 0,.7);
}

.about-me .skills {
  width: 1320px;
}
.about-me .skills img{
  width: 100%;
}

 /* ========================================
        About me css ends
========================================== */
 /* ========================================
        project css starts
========================================== */
.project{
  margin-bottom: 120px;
}
.project .first-div{
    justify-content: start; 
}
.project .first-div p{
      margin: 0; 
  padding-left: 9px;
  font-family: "Vollkorn", serif;
  font-size: 18px; 
  font-weight: 500;
  color: #E5745D;
}
.project .heading{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-bottom: 40px;
}
.project .heading .fa-arrow-right {
  background: #E5745D;
  border: 2px solid  #E5745D;
  color: rgb(237, 243, 243);
  padding: 5px 5px;
}
.project .heading .fa-arrow-left {
  background: transparent;
   border: 2px solid  rgba(0, 0, 0,.5);
  color: black;
  padding: 5px 5px;
}
.project  .card{
  padding: 0px 0px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0,.2);
}
 .project .card-img-top{
  width: 370px;
  height: 270px;
 }

.project  .card img{
   width: 100%;
}
.project  h6{
  font-family: "Vollkorn", serif;
  font-size: 14px; 
  font-weight: 500;
  color: #E5745D;
 
}
.project  .card-body{
  margin-left: 20px;
}
.project  .card-title{
  font-family: "Vollkorn", serif;
  font-size: 22px; 
  font-weight: 500;
  color:black;
}
.project  p{
  font-family: "Jost", sans-serif;
  font-size: 14px; 
  font-weight: 400;
  color:rgba(0, 0, 0,.7);
}
/* .project  .project-last{
  display: flex;
} */

.project .project-arrow {
  align-items: center;

}
.project .fa-arrow-right-long{

     bottom: 10px;
    left: 155px;

}
.project .fa-arrow-right-long:hover{
  left: 165px;
}
.project .card a{
  font-family: "Jost", sans-serif;
  font-size: 16px; 
  font-weight: 400;
  color:rgba(0, 0, 0,.7);
}
.project .row{
  margin-bottom: 60px;
}

 .project .button-container {
  display: flex;
  justify-content: center; /* Centers the button horizontally */
  align-items: center;     /* Optional: Centers vertically if container has height */
}
.project .card a:hover {
  color:  #E5745D;
 
}
.project .card a:hover .fa-arrow-right-long{
  color:  #E5745D;
  left: 165px;
} 


 /* ========================================
        project css ends
========================================== */
 /* ========================================
        My Portfolio css starts
========================================== */
.Portfolio{
  margin-bottom: 120px;
}

.Portfolio .first-div p{
  margin: 0; 
  padding-left: 9px;
  font-family: "Vollkorn", serif;
  font-size: 18px; 
  font-weight: 500;
  color: #E5745D;
}
.Portfolio .heading{
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-bottom: 24px;
}
.Portfolio .list{
  display: flex;
  justify-content: center;
  align-items: center; 
  column-gap: 31px;
  
}
.Portfolio .card{
margin-top: 30px;
}
.Portfolio .card-img-top{
  width: 570px;
  height: 480px;
}
.Portfolio .card img{
   width: 100%;
}
.Portfolio .card-body{
  background: #00413D;
}
.Portfolio .card-body h4{
  color: white;
  font-family: "Vollkorn", serif;
  font-size: 24px; 
  font-weight: 600;
  padding-left: 18px;
}
.Portfolio .card-body p{
  color: rgb(255, 255, 255,.7);
   font-family: "Jost", sans-serif;
  font-size: 14px; 
  font-weight: 400;
  padding-left: 18px;
}
 /* ========================================
        My Portfolio css ends
========================================== */
 /* ========================================
        feedback css starts
========================================== */
.feedback{
  padding-bottom: 165px;
  padding-top: 126px;
  margin-bottom: 120px;
  background: #F9F4F1;
}
.feedback .first-div p{
      margin: 0; 
  padding-left: 9px;
  font-family: "Vollkorn", serif;
  font-size: 18px; 
  font-weight: 500;
  color: #E5745D;
}
.feedback .heading{
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-bottom: 40px;
}

.feedback .row-comment {
 justify-content: space-between;
}
.feedback .comment{
  display: flex;
  width: 570px !important;
  height: 150px !important;
  border-top: 5px solid rgb(229, 116, 93);
   box-shadow: 10px 10px 5px rgba(229, 116, 93,.2) ;
   background: white;
   margin-bottom: 30px;
   align-items: center;
   
}
.feedback .comment p{
color: rgba(0, 0, 0, 0.7);
   font-family: "Jost", sans-serif;
  font-size: 16px; 
  font-weight: 400;
  padding-left: 18px;
}
.feedback .row-profile{
  display: block;
    /* position: relative; */

}
.feedback .profile{
  display: flex;
  position: relative;
  border: 2px solid  rgb(229, 116, 93);
  border-radius: 50%;
  width: 80px;
  height: 80px;
   margin-left: 40px; 

}

.feedback .client-img{
  position: absolute;
  inset: 3px;
  border-radius: 50%;
  background: #d9d9d9;
  /* border-radius: 50%; */
  border: 3px solid #d9d9d9;

}
.feedback .client-review{
    position: absolute;
    left: 95px;
    top: 8px;
}
.feedback .client-review h4{
  width: 130px;
  font-family: "Vollkorn", serif;
  font-size: 20px; 
  font-weight: 600;
  color: #080808;
}
.feedback .client-review p{
  width: 130px;
  font-size: 14px; 
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
   font-family: "Jost", sans-serif;
}
.feedback .stars{
display: flex;
}
.feedback .fa-star {
color: #E5745D;
}
.feedback .fa-star-half-stroke {
color: #E5745D;
}



 /* ========================================
        feedback css ends
========================================== */
 /* ========================================
        contatc css starts
========================================== */
.contact {
  margin-bottom: 120px;
}
.contact .col-lg-4{
  width: 470px;
  height: 586px;
  background: #d9d9d9;
}
.contact .col-lg-7{
margin-left: 20px;
}
.contact .first-div p{
      margin: 0; 
  padding-left: 9px;
  font-family: "Vollkorn", serif;
  font-size: 18px; 
  font-weight: 500;
  color: #E5745D;

}
.contact .heading{
  display: flex;
  justify-content: start;
  align-items: center; 
  margin-bottom: 40px;
}
.contact .first-div{
    justify-content: start; 
}
.client-form .client-info{
  padding-bottom: 12px;
 border: 1px solid transparent;
 border-bottom: 1px solid rgba(0, 0, 0, 0.177);
 margin-bottom: 50px;
}
.client-form .form-control{
 border: 1px solid transparent;
 border-bottom: 1px solid rgba(0, 0, 0, 0.177);
 margin-bottom: 60px;
}
 /* ========================================
        contatc css ends
========================================== */
 /* ========================================
        Blog css starts
========================================== */
.blog{
  margin-bottom: 120px;
}
.blog .first-div p{
      margin: 0; 
  padding-left: 9px;
  font-family: "Vollkorn", serif;
  font-size: 18px; 
  font-weight: 500;
  color: #E5745D;
}
.blog .heading{
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-bottom: 40px;
}
.blog  .card{
  padding: 0px 0px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0,.2);
}
 .blog .card-img-top{
  width: 370px;
  height: 270px;
 }

.blog  .card img{
   width: 100%;
}
.blog  h6{
  font-family: "Vollkorn", serif;
  font-size: 14px; 
  font-weight: 500;
  color: #E5745D;
 
}
.card-date{
  display: flex;
  justify-content: space-between;
}
.blog  .card-date p{
  font-family: "Vollkorn", serif;
  font-size: 14px; 
  font-weight: 500;
  color: rgba(9, 9, 9,.5);
 
}
.blog  .card-body{
  margin-left: 20px;
}
.blog  .card-title{
  font-family: "Vollkorn", serif;
  font-size: 22px; 
  font-weight: 500;
  color:black;
}
.blog  p{
  font-family: "Jost", sans-serif;
  font-size: 14px; 
  font-weight: 400;
  color:rgba(0, 0, 0,.7);
}
/* .project  .project-last{
  display: flex;
} */

.blog .project-arrow {
  align-items: center;

}


.blog .card a{
  font-family: "Jost", sans-serif;
  font-size: 16px; 
  font-weight: 400;
  color:rgba(0, 0, 0,.7);
}
.blog .row{
  margin-bottom: 60px;
}

 .blog .button-container {
  display: flex;
  justify-content: center; /* Centers the button horizontally */
  align-items: center;     /* Optional: Centers vertically if container has height */
}

.blog .card a:hover {
  color:  #E5745D;
 
}
.blog .fa-arrow-right-long{

     bottom: 10px;
    left: 115px;

}
.blog .card a:hover .fa-arrow-right-long{
  color:  #E5745D;
  left: 145px;
} 

 /* ========================================
        Blog css ends
========================================== */
 /* ========================================
        footer css starts
========================================== */
.footer{
  background: #00413D;
}
.footer .logo{
  padding-top: 80px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
}
.footer .list{
  display: flex;
  justify-content: center;
  align-items: center; 
  column-gap: 32px;
  padding-bottom: 50px;
}
.footer .list p{
  font-family: "Jost", sans-serif;
  font-size: 18px; 
  font-weight: 500;
  color:white;
  border-right: 1px solid rgba(245, 245, 245,.7);
  padding-right: 30px;
}
.footer .list p:last-child {
  border-color: transparent;
}
.footer .footer-group{
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}
.footer .copyright{
   border-top: 1px solid rgba(245, 245, 245,.5);
   padding: 30px 0px;
   display: flex;
  justify-content: center;
}
.footer .copyright p{
     font-family: "Jost", sans-serif;
  font-size: 18px; 
  font-weight: 500;
  color:rgba(245, 245, 245,.7);
}

 /* ========================================
        footer css ends
========================================== */

