 /* ========================================
        commom css starts
========================================== */
a{
    text-decoration: none;
}

 .common-btn{
    background: #E5745D;
    border: 2px solid rgb(231, 224, 224);
    color: white;
    padding: 21px 39px;
    transition: .4s;
    border: 2px solid transparent;
}
 .common-btn:hover{
    background: transparent;
    border: 2px solid  #E5745D;
    color: #E5745D;
 }

 /* ========================================
        commom css ends
========================================== */
 /* ========================================
        navbar css starts
========================================== */

nav .nav-item{
    padding: 0px 20px;
}
.nav-link:hover{
    color: #E5745D;
}

 /* ========================================
        navbar css ends
========================================== */
 /* ========================================
        banner css starts
========================================== */

 .banner .col-lg-6{
    background: #00413D;
    height: 850px;
 }

.banner .col-lg-4 img{
width: 100%;
height:  850px;
} 
.banner{
    position: relative;
    overflow: hidden;
}


.banner .overlay {
  position: absolute;
  top: 375px;
  left: 321px;
  transform: translateY(-50%);
  z-index: 10; /* Ensures text stays on top of the image */
  width: 834px;
  height: 220px;
}
/* we needed to make change in h1 instead of overlay 
because overlay is a div, and we want to change h1 not the div */
.banner .overlay h1{
  font-family: "Vollkorn", serif;
  font-size: 100px; 
  font-weight: 700;
  color: white;

}
.banner .overlay p{
  font-family: "Jost", sans-serif;
  font-size: 20px; 
  font-weight: 400;
  color: rgba(255, 255, 255,.5);
margin-bottom: 50px;
}
.banner .overlay p span{
  font-family: "Jost", sans-serif;
  font-size: 20px; 
  font-weight: 400;
  color: rgb(255, 255, 255);

}
 /* ========================================
        banner css ends
========================================== */
 /* ========================================
        services css starts
========================================== */
.services .first-div{
    margin-top: 220px;
    margin-bottom: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services .first-div img{
    /* width is aotu to make the arrow cear */
  width: auto;
  height: 12%;
}
.services .first-div p{
   margin: 0; 
   /* there is some additional margin that needed to be removed */
   padding-left: 9px;
    font-family: "Vollkorn", serif;
  font-size: 18px; 
  font-weight: 500;
  color: #E5745D;
}

.services h1{
  font-family: "Vollkorn", serif;
  font-size: 50px; 
  font-weight: 500;
  color: black;
   text-align: center;
   margin-bottom: 40px;
}


 /* ========================================
        services css ends
========================================== */

/* .banner h1{ */
    /* color: white; */
     /* width: 834px;  */
    /* font-family: "Vollkorn", serif;
    font-size: 100px;
    font-weight: 700;
    padding-top: 221px;
} */
/* .banner p{
    color: rgba(255, 255, 255, 0.5);
      width: 670px;  
    font-family: "Jost", sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 50px;
   
}

.banner .col-lg-5{
    background: gray;
}
.services{
    padding-top: 220px;
    padding-bottom: 120px;
}
.services p{
  text-align: center;
  color:#E5745D ;
  font-family: "Vollkorn", serif;
    font-size: 18px;
    font-weight: 500;
} */

/* .services h1{ */
    /* width: 517px; */
  /* text-align: center;
  color:#00413D ;
  font-family: "Vollkorn", serif;
    font-size: 50px;
    font-weight: 500;
    display: flex; */
    /* align-items: center;
    align-content: center; */
    /* justify-content: center;
    margin-bottom: 40px;
}
.services .card img{
    width: 38%;
} */